.speech {
    font-size: 12;font-family:  'Times New Roman', Times, serif;color: black;
  }
  .direction {
    background-color: beige;font-size: 20;font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(143, 143, 8);font-size: 20;font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .direction:hover {
    background-color: rgb(9, 168, 168);

  }
  .LUKE{
    color: rgb(98, 98, 237);
    }
    .REVENUE{
    color: rgb(251, 21, 170);
    }
    table,
    th,
    td {
        border: 1px solid;
        text-align: center;
        border-radius: 1px;
        width: 10%;
    
    }
    
    table {
        padding: 5px;
        margin: 20px;
        width:60%;
    }
    
    th {
        color: palevioletred;
        font-weight: bold;
        height: 70px;
    
    }
    
    td {
        color: darkorchid;
        border: 1px solid;
        height: 30px;
    
    }
    
    tr:nth-child(even) {
        background-color: beige;
    }
    .LUKE:hover,
    .REVENUE:hover {
     border: 2px solid rgb(198, 103, 9);
    box-shadow: 5px 5px 8px 5px rgb(165, 204, 237);
}

    


    